:root {
    --bg: #fff;
    --color: #011C54;
    --border: 10px solid;
}

.tooltipFO {
  position: relative;
}

.close {
  cursor: pointer;
  font-weight: 900;
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0px 0px;
}

.tooltipContent {
    color: var(--color);
    opacity: 0.85;
    padding: 2px;
    cursor: default;
    white-space: nowrap;
    background-color: var(--bg);
    /*box-shadow: 2px 4px 10px 2px hsla(0, 0%, 100%, 0.23);*/
    width: calc(100% - 28px);
    height: calc(100% - 18px);
    position: absolute;
    z-index: 10;

    &.sm {
        max-width: 23rem;
    }

    &.md {
        max-width: 40rem;
    }

    .name {
      font-size: 13px;
      padding: 6px;
      border-bottom: 0.2px solid var(--color);
    }

    .cell {
      display: flex;
      padding: 3px 0px 3px 6px;
      display: flex;
      flex-direction: column;
      align-items: start;
      .value {
        font-size: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 260px;
      }
    }

    .title {
      font-size: 8px;
    }
}

.tooltipContent_grid {
  display: flex;
  flex-wrap: wrap;
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;
}

.top {
    bottom: calc(100% - 18px);
    left: 50%;

    .arrow {
        bottom: -8px;
        left: calc(50% - 10px);
        border-right: var(--border) transparent;
        border-top: var(--border) var(--bg);
        border-left: var(--border) transparent;
    }
}

.right,
.left {
    top: 50%;
    transform: translateY(-50%);

    .arrow {
        top: calc(50% - 10px);
        border-top: var(--border) transparent;
        border-bottom: var(--border) transparent;
    }
}

.right {
    left: calc(18px);

    .arrow {
        left: -8px;
        border-right: var(--border) var(--bg);
    }
}

.left {
    right: calc(18px);

    .arrow {
        right: -8px;
        border-left: var(--border) var(--bg);
    }
}

.bottom {
    top: calc(100% + 18px);
    left: 50%;
    transform: translateX(-50%);

    .arrow {
        top: -8px;
        left: calc(50% - 10px);
        border-right: var(--border) transparent;
        border-bottom: var(--border) var(--bg);
        border-left: var(--border) transparent;
    }
}
