@import url('https://fonts.googleapis.com/css?family=Merriweather|Karla');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif !important;
  position: relative;
  background-color: #011C54;  
  color: white;
  margin: 0px;
  opacity: 0.85;
}
h1, h2, h3, h4, p {
  font-family: 'Karla', sans-serif !important;
}
p {
  font-size: 0.75em;
  margin: 0px;
}
h4 {
  margin: 5px 0px;
  font-size: 10px;
}
text {
  pointer-events: none;
}

.App__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SideBarLeft {
  width: 25vw;
  height: 100%;
  padding: 10px 0px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Title {
  width: 100%;
  height: auto;
}

.Search {
  width: 100%;
  height: 140px;
  padding: 20px 0px;
  z-index: 99;
}
.NavButtons {
  margin: 20px 0px 10px 0px; 
}
.btn {
  color: white;
  padding: 8px 12px;
  text-align: center;
  display: inline-block;
  font-size: 0.7em;
  margin: 8px 4px 8px 0px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  background: lighten(#011C54, 3%);  
  border: 1px solid darken(#011C54, 4%);
  box-shadow: 0px 2px 0 darken(#011C54, 5%), 2px 4px 6px darken(#011C54, 2%);
  transition: all 150ms linear;
}
.btn:hover {
  background-color: white;
  color: #011C54;
}

.btn.active {
  background: darken(#011C54, 3%);
  border: 1px solid rgba(#000, .05);
  box-shadow: 1px 1px 2px rgba(#fff, .2);
  color: white;
  text-decoration: none;
  transition: all 250ms linear;
}

.Legend {
  width: 100%;
  height: auto;
}

.Main {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.SideBarRight {
  width: 25vw;
  height: 100%;
  padding: 10px 20px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.viewButton {
  margin: 0px;
  cursor: pointer;
  text-decoration: underline;
}

.Board__circle {
    fill: #9980FA;
    fill-opacity: 0.1;
}

