.Entity__Left {
  width: 25%;
  height: 100%;
}
.Entity__Right {
  position: relative;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ------------------------------------------ */
/* --------------- GRAPH NETWORK ------------ */
/* ------------------------------------------ */
.Loading {
  display: flex;
  justify-content: center;
  vertical-align: center;
  height: 100%;
  width: 100%;
}
.Loading .ui.dimmer {
  background-color: #011C54;
}
.Loading .ui.segment {
  border: 0px;
}
/* ------------------------------------------ */
/* --------------- GRAPH NETWORK ------------ */
/* ------------------------------------------ */
.Network {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: relative;

  .link {
    pointer-events: none;
    fill: none;
  }
  .node {
    pointer-events: auto;
    cursor: pointer;
  }
  .text {
    pointer-events: none;
  }
}

div.tooltip {
  position: absolute;
  max-width: 100px;
  color: white;
  background-color: #011C54; 
  border: 1px solid white; 
  border-radius: 0px; 
  padding: 6px 12px;
  text-align: center;
  display: inline-block;
  font-size: 0.65em;
  margin: 4px 2px;
  pointer-events: none;
}

/* color control buttons + legend */
.Chart_legend_section {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 180px;
  height: auto; 
  z-index: 2; 
}
.legend-color {
  position: relative;
}
.Chart_legend_section .legend-header {
  fill: white;
  font-size: 0.65em;
  font-weight: bold;
}
.Chart_legend_section .legend-content-text {
  fill: white;
  font-size: 0.6em;
  alignment-baseline: middle;
  text-anchor: left;
}
.Chart_legend_section p {
  color: white;
  background-color: #011C54;
  border-bottom: 1px solid white; 
  padding: 5px;
}

/* color scheme selection buttons */
.Chart_color_section {
  position: absolute;
  top: 20px;
  right: 80px;
  z-index:2;
}

/* zoomable control buttons */
.Chart_controls_section {
  position: absolute;
  top: 23px;
  right: 40px;
  z-index: 2;
  box-shadow: 2px 4px 10px 2px hsla(0, 0%, 100%, 0.23);
}
.button {
  width: 24px;
  height: 24px;
  border: 1px solid white;
  color: white; 
  background-color: transparent;  
  font-size: 20px;  
  text-align: center;
  vertical-align: middle;
  line-height: 20px;  
  cursor: pointer;
  box-shadow: 0px 2px 0 darken(#011C54, 5%), 2px 4px 6px darken(#011C54, 2%);
  transition: all 150ms linear;
}
.button:hover {
  background-color: white;
  color: #011C54;
}

/* ------------------------------------------ */
/* --------- NETWORK SUMMARY SECTION -------- */
/* ------------------------------------------ */
.Chart_info_section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width:100%;
  color: white;
  top: 0px;
  height: 80px;
  background: rgba(1, 28, 84, 0.6);
  z-index: 1;
}

.chart-statistics {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  /*position: absolute;
  top: 80px;
  right: 40px;
  border: 1px solid white;*/
}
.chart-statistics-total {
  width: 100%;
  height: 25%;       
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chart-statistics-breakdown{
  width: 100%;
  height: 75%; 
  /*border: 1px solid white;*/
}
.nodes_stats, .edges_stats{
  width: 50%;
  text-align: center;
  /*border: 1px solid white;*/
}
.nodes_stats h2, .edges_stats h2{
  margin: 0px;
}
.nodes_stats p, .edges_stats p{
  margin: 0px;
  font-size: 0.6em;
}
.nodes_stats_total, .edges_stats_total{
  height: 35px;
}

/* ---------------------- */
/* ----- TIMELINE ------- */
/* ---------------------- */
.slider {
  fill: white;
  color: white;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Timeline date display */
.time {
  width: 150px;
}
/*#time {
  position: absolute;
  top: 20px;
  right: 80px;
  color: white;       
} */