@import url('https://fonts.googleapis.com/css?family=Merriweather|Karla');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif !important;
  position: relative;
  background-color: #fff; 
  color: black;
  margin: 0px;
  padding: 0px;
  opacity: 0.85;
  overflow: none;
}
h1, h2, h3, h4, p, text, a {
  font-family: 'Karla', sans-serif !important;
  color: black;
}
p {
  font-size: 0.85em;
  margin: 0px;
}
h4 {
  margin: 5px 0px;
  font-size: 12px;
}
text {
  pointer-events: none;
  fill: black;
}


.Header {
  background-color: black;
  position: absolute;
  width: 100vw;
  height: 26px;
  z-index: 99;
}

.Header div {
  color: white;
}

.headerWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headerWrapper div {
  border-bottom: 1px solid white;
  text-align: center;
  padding: 2px 6px;
}

.App__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App_container {
  width: 80%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App_container-textonly {
  width: 80%;
  height: 100%;
  padding: 40px;
}

.App_container-textonly p {
  font-size: 1em;
  margin: 20px 0px;
}

.App_container-textonly b {
  font-size: 1.2em;
  margin: 20px 0px;
}

.SideBarLeft1 {
  width: 40vw;
  height: 100%;;
  padding: 50px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  z-index:98;
}

.SideBarLeft {
  width: 35%;
  height: 100%;;
  padding: 30px 40px 10px 10px;
  display: flex;
  flex-direction: column;
  z-index:98;
}

.Title {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.Search {
  width: 100%;
  height: 120px;
  padding-bottom: 10px;
}
.ui.input {
  width: 100% !important;
}

.ui.search > .results {
  overflow-y: auto;
  max-height: 500px;
  z-index: 97;
}

.ToggleButtons {
  height: 40px;
  margin-bottom: 10px;
}
.NavButtons {
  margin: 20px 0px 10px 0px; 
}
.Legend {
  width: 100%;
  height: 220px;
}

.Main {
  width: 65%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SideBarRight {
  width: 25vw;
  height: 100%;
  padding: 50px 20px 10px 0px;
  display: flex;
  flex-direction: column;
}

.viewButton {
  margin: 0px;
  cursor: pointer;
  text-decoration: underline;
}

.Board__circle {
    fill-opacity: 0.5;
}

.footer {
  width: 100vw;
  height: 150px;
  overflow-y: scroll;
  padding: 0px 20px;
}