* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  position: relative;
  background-color: #011C54;  
  color: white;
  margin: 0px;
  opacity: 0.85;
}
p {
  font-size: 0.75em;
  margin: 0px;
}
h4 {
  margin: 5px 0px;
  font-size: 10px;
}
text {
  pointer-events: none;
}

.App__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SideBarLeft {
  width: 25vw;
  height: 100%;
  padding: 10px 0px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Title {
  width: 100%;
  height: auto;
}

.Search {
  width: 100%;
  height: 140px;
  padding: 20px 0px;
  z-index: 99;
}
.NavButtons {
  margin: 20px 0px 10px 0px; 
}
.btn {
  color: white;
  background: transparent; 
  border: 1px solid white; 
  border-radius: 0px; 
  padding: 6px 12px;
  text-align: center;
  display: inline-block;
  font-size: 0.7em;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover {
  background-color: white;
  color: #011C54;
}

.Legend {
  width: 100%;
  height: auto;
}

.Main {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.SideBarRight {
  width: 25vw;
  height: 100%;
  padding: 10px 20px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.viewButton {
  margin: 0px;
  cursor: pointer;
  text-decoration: underline;
}

.Board__circle {
    fill: #9980FA;
    fill-opacity: 0.1;
}

